body {
  display: grid;
  grid-template-rows: 30px 1fr 30px auto;
  height: 100vh;
  margin: 0 auto;
  max-width: 400px;
  background: rgb(111, 184, 184);
  font-family: sans-serif;
}

.form {
  display: grid;
  grid-gap: 10px 10px;
}

.card {
  width: 200px;
  margin: 40px auto;
  background: papayawhip;
}
